<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:h2:mem:test</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!--property name="hibernate.hbm2ddl.auto">update</property-->
        <mapping class="com.example.cinek.model.grupa.GrupaGorska" />
        <mapping class="com.example.cinek.model.trasa.PunktTrasy" />
        <mapping class="com.example.cinek.model.trasa.SkladowyPunktTrasy" />
        <mapping class="com.example.cinek.model.trasa.Trasa" />
        <mapping class="com.example.cinek.model.trasa.TrasaNiepunktowana" />
        <mapping class="com.example.cinek.model.trasa.TrasaPunktowana" />
        <mapping class="com.example.cinek.model.uzytkownik.Uzytkownik" />
        <mapping class="com.example.cinek.model.uzytkownik.Przodownik" />
        <mapping class="com.example.cinek.model.uzytkownik.Turysta" />
        <mapping class="com.example.cinek.model.Wedrowka.Pamiatka" />
        <mapping class="com.example.cinek.model.Wedrowka.TrasaSkladowa" />
        <mapping class="com.example.cinek.model.Wedrowka.Wedrowka" />


    </session-factory>
</hibernate-configuration>